.loginWrapper {
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: ghostwhite;
  padding: 10px;
}

.logo {
  height: 100%;
  padding-right: 10px;
}

.login {
  font-size: 1rem;
}
